
<body>
 <div id="login">


                <div class="card-header">

                    <h2>Login</h2>

                </div>

                <div class="card-content">

                    <div class="card-content-area">

                        <label for="usuario">Usuário</label>

                        <input type="text" id="usuario" autocomplete="off">

                    </div>

                    <div class="card-content-area">

                        <label for="password">Senha   </label>

                        <input type="password" id="password" autocomplete="off">
                     <div class="card-content-area">
                    <button onclick="myFunction()"><img src="~/MARIO.jpg" width="50" height="50"></button>
                </div>

            


</body>