<h1>Minha Tela</h1>


<p>Essa é a action referente ao HomeController action MinhaTela</p>

<img src="~/MARIO.jpg" />
<img src="~/Guatemala.jpg" width="500" height="500" />

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Idade</th>
    </tr>


    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Francisco</td>
            <td>19</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Renato</td>
            <td>22</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Mario</td>
            <td>Romantico</td>
        </tr>


    </tbody>

</table>